h1 {
    color: var(--goodColor);
    padding: 10px 40px;
    border-radius: 16px;
    border: solid 3px var(--goodColor);
    margin: 30px;
    width: 140px;
    text-align: center;
}

.runking_box {
    display: flex;
    .silver_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid tomato;
        h2{
            font-size: 1.8rem;
            color: #A6A9BC;
        }
        .silver_img{
            width: 120px;
            height: 78px;
            background-image: url(../img/silver.png);
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid skyblue;
        }
    }
}
